@page "/Creator"

<!DOCTYPE html>
<html>
<head>
    <title>작성자</title>
</head>
<body>
    <h1>RedPlus</h1>
    <hr />
    @{
        var message = "Welcom ... ";
    }
    <h3>@message</h3>
</body>
</html>